.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.markdownlint.json
.githooks/**
tsconfig.json
esbuild.config.js
webpack.config.js
.eslintrc.json
vsc-extension-quickstart.md
**/*.test.ts
out/test/**
test/**
.env
reproduce_error.js
test_output*.log
